<div class="row">

  <p class="input-group">
    <input type="text" class="form-control"  datepicker-popup="MM-yyyy" ng-model="cbr.Date" datepicker-options="{minMode: 'month'}" datepicker-mode="'month'"  is-open="cbr.DatePopup.opened" ng-init="cbr.DatePopup.opened=false"  close-text="Затвори"  />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="cbr.DatePopup.opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
  </p>


</div><!-- date -->
<div ng-if="cbr.Date"><!-- show only if a date is set -->
    <div class="row">
          <div class="col-sm-7">
            <h1>Разходи</h1>
          </div>
          <div class="col-sm-5">
            <button ng-init="cbr.ExpensesCollapsed = true" type="button" class="btn btn-default btn-lg btn-block" ng-click="cbr.ExpensesCollapsed = !cbr.ExpensesCollapsed"><h2 class="inline-heading">{{cbr.expensesTotal | currency: '.лв '}} </h2><i class=" glyphicon" ng-class="{'glyphicon-chevron-down': cbr.ExpensesCollapsed, 'glyphicon-chevron-right': !cbr.ExpensesCollapsed}"></i></button>
          </div>
    </div><!-- row -->
     <div class="row" collapse="cbr.ExpensesCollapsed">
       <div class="table-responsive">
         <table class="table">
           <thead>
           <tr>
             <th>Име</th>
             <th>Дата на създаване</th>
             <th>Сума</th>
           </tr>
           </thead>
           <tr ng-repeat="expense in cbr.expenses">
             <td>{{expense.Name}}</td>
             <td>{{expense.DateMade | date: 'MM/dd/yyyy | h:mma'}}</td>
             <td>{{expense.Value |  currency: '.лв '}}</td>
           </tr>
         </table>
       </div><!-- table - responsive -->
     </div><!-- collapse -->
<!-- -------------------------------------------------------------- -->
    <div class="row">
        <div class="col-sm-7">
          <h1>Депозити</h1>
        </div>
        <div class="col-sm-5">
          <button ng-init="cbr.DepositsCollapsed = true" type="button" class="btn btn-default btn-lg btn-block" ng-click="cbr.DepositsCollapsed = !cbr.DepositsCollapsed"><h2 class="inline-heading">{{cbr.depositsTotal | currency: '.лв '}}</h2><i class="glyphicon" ng-class="{'glyphicon-chevron-down': cbr.DepositsCollapsed, 'glyphicon-chevron-right': !cbr.DepositsCollapsed}"></i></button>
        </div>
      </div><!-- row -->
    <div class="row" collapse="cbr.DepositsCollapsed">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Име</th>
                <th>Дата на създаване</th>
                <th>Сума</th>
              </tr>
              </thead>
              <tr ng-repeat="deposit in cbr.deposits">
                <td>{{deposit.HouseholdName}}</td>
                <td>{{deposit.DateMade | date: 'MM/dd/yyyy | h:mma'}}</td>
                <td>{{deposit.Value | currency: '.лв '}}</td>
              </tr>
            </table>
          </div><!-- table - responsive -->
        </div><!-- collapse -->
<!-- --------------------------------------------------------------- -->
    <div class="row">
      <div class="col-sm-7">
        <h1>Приходи от такси</h1>
      </div>

      <div class="col-sm-5">
       <h2 class="text-center">{{cbr.profit | currency: '.лв '}}</h2>
      </div>
    </div><!-- row -->
</div><!-- ng-if -->





