<div class="row">
  <div class="col-sm-12">
    <h4>Депозити</h4>
    <table tr-ng-grid="" items="cbm.modelsCollection" locale="bg" page-items="cbm.top" total-items="cbm.modelsCount" enable-filtering='false'on-data-required="cbm.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
      <thead>
      <tr>
        <th field-name="HouseholdName" enable-filtering="true" display-name="Име на жилище"></th>
        <th field-name="DateMade" enable-filtering="false"  display-format="date: 'MM/dd/yyyy | h:mma'" display-name="Дата на създаване"></th>
        <th field-name="Value" display-name="Стойност"  enable-filtering="false" display-format="currency: 'лв. '"></th>
        <th field-name="Id"  permission permission-only="'admin'"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td field-name="HouseholdName"><a target="_blank" class="btn btn-default btn-block" ui-sref="householdDetail({householdId: gridItem.HouseholdId})">{{gridDisplayItem.HouseholdName}}</a></td>
        <td field-name="DateMade">{{gridDisplayItem.DateMade}}</td>
        <td field-name="Value">{{gridDisplayItem.Value}}</td>
        <td field-name="Id"  permission permission-only="'admin'"><button class="btn btn-block btn-danger" ng-really-message="Сигурни ли сте, че искате да изтриете този депозит?" ng-really-click="cbm.deleteModel(gridDisplayItem.Id)">Изтрий </button></td>
      </tr>
      </tbody>

    </table>

  </div><!-- col-sm-12 -->


</div><!-- row -->
