
<div class="container" print-section>
  <h1 class="text-center"> Уведомление </h1>
  <h3 class="text-center">{{bdetail.building.Address}}</h3>
  <h4 class="text-center">{{cbn.date | date: 'MM/dd/yyyy'}}</h4>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Апарт. Номер</th>
          <th>Име</th>
          <th>Брой живущи</th>
          <th>Дължима сума</th>
        </tr>
      </thead>
      <tr ng-repeat="household in cbn.households">
        <td>{{household.Number}}</td>
        <td>{{household.Name}}</td>
        <td>{{household.Residents}}</td>
        <td>{{household.Balance | currency: ".лв "}}</td>
      </tr>

    </table>
  </div>
</div>
<button class="btn btn-primary" print-btn>Принтирай</button>
