<div class="row">
  <div class="col-sm-12">
    <h4>Разходи</h4>
    <a ui-sref="addExpense({buildingId: cbe.buildingId})" class="btn btn-primary">Добави разход </a>
    <div range-slider min="cbe.minLowerBoundaryPrice" max="cbe.maxUpperBoundaryPrice" model-min="cbe.lowerBoundaryPrice" model-max="cbe.upperBoundaryPrice" show-values="true" filter="currency:'лв.'"></div>
    <table tr-ng-grid="" items="cbe.expenses" locale="bg" page-items="cbe.top" total-items="cbe.totalExpenses" enable-filtering='false'on-data-required="cbe.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
      <thead>
      <tr>
        <th field-name="Name" enable-filtering="true" display-name="Име"></th>
        <th field-name="Value" display-name="Стойност"  enable-filtering="false" display-format="currency: 'лв. '"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td field-name="Name">{{gridDisplayItem.Name}}</td>
        <td field-name="Value">{{gridDisplayItem.Value}}</td>
      </tr>
      </tbody>

    </table>

  </div><!-- col-sm-12 -->


</div><!-- row -->
