<div class="row">
  <div class="col-sm-12">
    <h4>Депозити</h4>
    <div range-slider min="cbm.minLowerBoundaryPrice" max="cbm.maxUpperBoundaryPrice" model-min="cbm.lowerBoundaryPrice" model-max="cbm.upperBoundaryPrice" show-values="true" filter="currency:'лв.'"></div>
    <table tr-ng-grid="" items="cbm.modelsCollection" locale="bg" page-items="cbm.top" total-items="cbm.modelsCount" enable-filtering='false'on-data-required="cbm.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
      <thead>
      <tr>
        <th field-name="Name" enable-filtering="true" display-name="Име"></th>
        <th field-name="Value" display-name="Стойност"  enable-filtering="false" display-format="currency: 'лв. '"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td field-name="Name">{{gridDisplayItem.Name}}</td>
        <td field-name="Value">{{gridDisplayItem.Value}}</td>
      </tr>
      </tbody>

    </table>

  </div><!-- col-sm-12 -->


</div><!-- row -->
