<div class="row">
  <div class="col-sm-12">

    <h4>Задължения</h4>
    <!-- isPaid filter -->
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-primary btn-lg btn-block" ng-model="hddetail.isPaid" btn-radio="true">Платени</button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-primary btn-lg btn-block" ng-model="hddetail.isPaid" btn-radio="false">Неплатени</button>
      </div>
    </div>
    <!-- isPaid filter -->
    <table tr-ng-grid="" items="hddetail.debts" enable-filtering="false" locale="bg" page-items="hddetail.debtsTop" total-items="hddetail.totalDebts" on-data-required="hddetail.onServerSideDebtsReq(currentPage, pageItems, orderBy, orderByReverse)">
      <thead>
      <tr>
        <th field-name="ExpenseTypeName" display-name="Име на разход"  enable-filtering="false"></th>
        <th field-name="DateMade" display-name="Дата на създаване"  enable-filtering="false" display-format="date: 'MM/dd/yyyy | h:mma'"></th>
        <th ng-if="hddetail.isPaid"  field-name="DatePaid" display-name="Дата на плащане" enable-filtering="false" display-format="date: 'MM/dd/yyyy | h:mma'"></th>
        <th field-name="Value" display-name="Стойност" enable-filtering="false" display-format="currency: 'лв. '" ></th>
        <th field-name="AmountPaid" display-name="Платено" enable-filtering="false" display-format="currency: 'лв. '"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td field-name="ExpenseTypeName">{{gridDisplayItem.ExpenseTypeName}}</td>
        <td field-name="DateMade">{{gridDisplayItem.DateMade}}</td>
        <td ng-if="hddetail.isPaid" field-name="DatePaid" display-name="Дата на плащане">{{gridDisplayItem.DatePaid | date: 'MM/dd/yyyy | h:mma'}}</td>
        <td field-name="Value">{{gridDisplayItem.Value}}</td>

        <td>
          <button class="btn btn-block btn-danger" ng-really-message="Сигурни ли сте, че искате да изтриете това задължение?" ng-really-click="hddetail.deleteDebt(gridItem.Id)">Изтрий</button>
        </td>
        <td ng-if="!hddetail.isPaid">
          <button class="btn btn-block btn-success"  ng-click="hddetail.payDebt(gridItem)">Плати</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
