<div class="row">
  <div class="col-sm-12">
    <h4>Плащания</h4>
    <!-- trNgGrid -->

    <table tr-ng-grid="" items="hdpdetail.deposits" enable-filtering="false" locale="bg" page-items="hdpdetail.top" total-items="hdpdetail.totalPayments" on-data-required="hdpdetail.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
      <thead>
      <tr>
        <th field-name="DateCreated" display-name="Дата на депозиране"  enable-filtering="false" display-format="date: 'MM/dd/yyyy | h:mma'"></th>
        <th field-name="Value" display-name="Стойност"  enable-filtering="false" display-format="currency: 'лв. '"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td field-name="DateCreated">{{gridDisplayItem.DateCreated }}</td>
        <td field-name="Value">{{gridDisplayItem.Value | currency: 'лв. '}}</td>
        <td field-name="Id"><button class="btn btn-danger" ng-click="hdpdetail.deleteDeposit(gridDisplayItem.Id)">Delete </button></td>
      </tr>
      </tbody>
    </table>
  </div><!-- payments col -->
</div>

