<div class="row">
  <div class="col-sm-12">
    <h4>Плащания</h4>
    <!-- trNgGrid -->

    <table tr-ng-grid="" items="hpdetail.payments" enable-filtering="false" locale="bg" page-items="hpdetail.paymentsTop" total-items="hpdetail.totalPayments" on-data-required="hpdetail.onServerSidePaymentsReq(currentPage, pageItems, orderBy, orderByReverse)">
      <thead>
      <tr>
        <th field-name="ExpenseTypeName" display-name="Тип разход"  enable-filtering="false"></th>
        <th field-name="DatePaid" display-name="Дата на плащане"  enable-filtering="false" display-format="date: 'MM/dd/yyyy | h:mma'"></th>
        <th field-name="Value" display-name="Стойност" enable-filtering="false" display-format="currency: 'лв. '"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td field-name="ExpenseTypeName">{{gridDisplayItem.ExpenseTypeName}}</td>
        <td field-name="DatePaid">{{gridDisplayItem.DatePaid}}</td>
        <td field-name="Value">{{gridDisplayItem.Value}} лв</td>
      </tr>
      </tbody>
    </table>
  </div><!-- payments col -->
</div>

