<acme-navbar></acme-navbar>
<div class="container" >
  <div class="row">

  <div class="col-sm-8 col-md-6">
    <button class="btn btn-info" ui-sref="buildingDetail.households({ buildingId: hdetail.household.BuildingId})">Към сграда</button>

    <div ng-hide="hdetail.editMode">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{hdetail.household.Name}}</h3>
          <ul>
            <li> Етаж: {{hdetail.household.Floor}}</li>
            <li> Номер: {{hdetail.household.Number}}</li>
            <li> Брой възрастни: {{hdetail.household.AdultsCount}}</li>
          </ul>
          <!-- balance -->
          <div class="well well-sm">
              <h5 class="inline">Баланс:
                <span ng-class="hdetail.household.Balance < 0 ? 'negative-balance' : 'positive-balance'">
                {{hdetail.household.Balance | currency: 'лв. '}}
               </span>
              </h5>
              <button class='btn btn-primary inline' ng-click="hdetail.addDeposit()">Добави депозит</button>
          </div>

        </div>
        <div class="panel-footer">
          <button ng-click="hdetail.edit()"   class="btn btn-primary">Промени</button>
          <button ng-click="hdetail.delete()" class="btn btn-danger">Изтрий</button>
        </div>
      </div>
    </div>
    <!-- Editing MODE -->
    <div ng-show="hdetail.editMode">
        <form name="hdetail.editForm" ng-submit="hdetail.update()" novalidate>
          <div class="panel-body">
            <div class="form-group row" ng-class="{ 'has-error' : (hdetail.editForm.name.$error.required || hdetail.editForm.name.$error.maxlength)&& hdetail.editForm.name.$dirty }">
              <label class="col-md-2 control-label" for="name">Име</label>
              <div class="col-md-10">
                <input type="text" class="form-control" id="name" name="name" ng-model="hdetail.household.Name" ng-maxlength="100" required/>
                <span ng-show="hdetail.editForm.name.$error.required  && !hdetail.editForm.name.$pristine" class="help-block">Моля, въведете име на жилището!</span>
                <span class="help-block" ng-show="hdetail.editForm.name.$error.maxlength">Името е прекалено дълго!</span>
              </div>
            </div>
            <div class="form-group row"  ng-class="{ 'has-error' : hdetail.editForm.number.$error.required && hdetail.editForm.number.$dirty }">
              <label class="col-md-2 control-label" for="number">Номер</label>
              <div class="col-md-10">
                <input type="number" class="form-control" name="number"	id="number" ng-model="hdetail.household.Number" required/>
                <span ng-show="hdetail.editForm.number.$error.required  && !hdetail.editForm.number.$pristine" class="help-block">Моля, въведете номер на жилището!</span>
              </div>
            </div>
            <div class="row"> <!-- adults count row -->
              <div class="form-group col-md-12" ng-class="{ 'has-error' : hdetail.editForm.adults.$error.required && hdetail.editForm.adults.$dirty }">
                <label class="col-md-4 control-label" for="adults">Брой възрастни</label>
                <div class="col-md-5">
                  <input type="number" min="0" max="10" class="form-control" ng-model="hdetail.household.AdultsCount" id="adults" name="adults" required />
                  <span ng-show="hdetail.editFormadults.$error.required  && !hdetail.editForm.adults.$pristine" class="help-block">Моля, въведете брой на възрастни в жилището!</span>
                </div>
              </div>
            </div><!-- row -->

            <div class="form-group row" ng-class="{ 'has-error' : hdetail.editForm.floor.$error.required && hdetail.editForm.floor.$dirty }">
              <label class="col-md-2 control-label">Етаж</label>
              <div class="col-md-10">
                <select ng-model="hdetail.household.Floor" class="form-control" name='floor' ng-options="n for n in [] | range:1:hdetail.household.BuildingFloors" required></select>
                <span ng-show="hdetail.editForm.floor.$error.required  && !hdetail.editForm.floor.$pristine" class="help-block">Моля, изберете етаж на жилището!</span>
              </div>
            </div>
            <div class="panel-footer">
              <button type="submit" ng-disabled="hdetail.editForm.$invalid" class="btn btn-success"> Запази промените </button>
              <button type="button" class="btn btn-warning" ng-click="hdetail.editMode = false;">Отказ</button>
            </div>
          </div>
        </form>

      </div>

    </div><!-- col-md-6 -->
    <!-- nav -->
    <!-- TODO maybe move this to a separate view as well? -->
    <div class="col-sm-4 col-md-6">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active"><a ui-sref="householdDetail.debts({householdId: hdetail.household.Id})">Задължения</a></li>
        <li ui-sref-active="active"><a ui-sref="householdDetail.payments({householdId: hdetail.household.Id})">Плащания</a></li>
        <li ui-sref-active="active"><a ui-sref="householdDetail.deposits({householdId: hdetail.household.Id})">Депозити</a></li>
      </ul>
    </div>
  </div><!-- row -->
  <div ui-view="filters"></div>
  <div ui-view></div>
  <!-- ui-view for household debts and payments -->
  <div class="row">
    <div class="col-md-6">

    </div>
  </div>


  </div>



