<acme-navbar></acme-navbar>
<div class="container-fluid" >
  <div class="row">

  <div class="col-sm-6 col-md-4">
    <button class="btn btn-primary" ui-sref="buildingDetail({ buildingId: hdetail.buildingId})">Назад</button>

    <div ng-hide="hdetail.editMode">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{hdetail.household.Name}}</h3>
          <ul>
            <li> Етаж: {{hdetail.household.Floor}}</li>
            <li> Номер: {{hdetail.household.Number}}</li>
            <li> Брой деца: {{hdetail.household.ChildrenCount}}</li>
            <li> Брой възрастни: {{hdetail.household.AdultsCount}}</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Editing MODE -->
    <div ng-show="hdetail.editMode">


    </div>
  </div><!-- col-md-6 -->



  </div>
  </div>

  </div>



