
<table tr-ng-grid="" items="hdpdetail.deposits" enable-filtering="false" locale="bg" page-items="hdpdetail.top" total-items="hdpdetail.totalDeposits" on-data-required="hdpdetail.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
  <thead>
  <tr>
    <th field-name="DateCreated" display-name="Дата на депозиране"  enable-filtering="false" display-format="date: 'MM/dd/yyyy | h:mma'"></th>
    <th field-name="Value" display-name="Стойност"  enable-filtering="false" display-format="currency: 'лв. '"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td field-name="DateCreated">{{gridDisplayItem.DateCreated }}</td>
    <td field-name="Value">{{gridDisplayItem.Value | currency: 'лв. '}}</td>
  </tr>
  </tbody>

</table>
