

.navbar-brand {
  padding: 0 !important;
}

.logo-img {
  height: 40px;
  width: auto;
  margin-bottom: 5px;
}

.navbar {
  border-bottom: 1px solid #40A43F;
}

.navbar .navbar-nav li a {
  color: #40A43F;
}


#loading-bar .bar {
  background: #40A43F;
  height: 4px;
}

#loading-bar-spinner .spinner-icon {
  width: 18px;
  height: 18px;
  border: solid 4px transparent;
  border-top-color: #cadd22;
  border-left-color: #cadd22;
  border-radius: 10px;
}
