<nav class="navbar navbar-static-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle toggle-sidebar toggle-left hidden-md hidden-lg" ng-click="hideLeftSidebar = !hideLeftSidebar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="buildings">
        <img src="assets/images/logo.png" class="logo-img" />
      </a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">

      </ul>
     <ul class="nav navbar-nav navbar-right">
       <li ng-show="vm.profile && vm.profile.userRoles.indexOf('Admin') !== -1"><a ui-sref="users">Потребители</a> </li><!-- TODO find a way to use the directive here -->
       <li><a href="#">{{vm.profile.userName}}</a></li>
       <li ng-click="vm.logout()"><a  ng-show='vm.profile' >Изход </a></li>
     </ul>
    </div>
  </div>
</nav>
