<nav class="navbar navbar-static-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="buildings">
        <img src="assets/images/logo.png" class="logo-img" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">

      </ul>
     <ul class="nav navbar-nav navbar-right">
      <li><a href="#/Account/users">Users</a> </li>
       <li><a href="#">{{vm.profile.userName}}</a></li>
       <li ng-click="vm.logout()"><a  ng-show='vm.profile' >Изход </a></li>
     </ul>
    </div>
  </div>
</nav>
