<div>
  <acme-navbar></acme-navbar>
</div>

  <div class="container" >
    <div class="row">
      <div class="col-sm-12  main">

        <!-- trNgGrid -->
        <button ng-click='usr.add()' class="btn btn-primary"> Регистрирай нов потребител </button>
        <table tr-ng-grid="" items="usr.users" enable-filtering="false" locale="bg" page-items="usr.top" total-items="usr.totalUsers" on-data-required="usr.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
          <thead>
          <tr>
            <th field-name="FirstName" display-name="Име" enable-filtering="true" ></th>
            <th field-name="LastName" display-name="Фамилия" enable-filtering="true" ></th>
            <th field-name="Role" display-name="Роли" enable-filtering="true" ></th>
            <!--<th field-name="Id" display-name="Id"  enable-filtering="true"></th>-->
          </tr>
          </thead>
          <tbody>
          <tr>
            <td field-name="First_Name">{{gridDisplayItem.First_Name}}</td>
            <td field-name="Last_Name">{{gridDisplayItem.Last_Name}}</td>
            <td field-name="Role"><p ng-repeat="role in gridItem.Roles">{{role}}</p></td>
            <!--<td field-name="Id">{{gridDisplayItem.Id}}</td>-->
          </tr>
          </tbody>

        </table>

      </div><!-- col-sm-12 -->
    </div><!-- row -->
  </div>
  </div>




