<div class="modal-header">
    <h3 class="modal-title">Добави жилище</h3>
</div>
<form  class="form"  name="adh.householdForm" ng-submit="adh.add()" role="form" novalidate>
    <div class="modal-body">
              <div class="form-group row" ng-class="{ 'has-error' : (adh.householdForm.name.$error.required || adh.householdForm.name.$error.maxlength)&& adh.householdForm.name.$dirty }">
                <label class="col-md-2 control-label" for="name">Име</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" id="name" name="name" ng-model="adh.newHousehold.Name" ng-maxlength="100" required/>
                  <span ng-show="adh.householdForm.name.$error.required  && !adh.householdForm.name.$pristine" class="help-block">Моля, въведете име на жилището!</span>
                  <span class="help-block" ng-show="adh.householdForm.name.$error.maxlength">Името е прекалено дълго!</span>
                </div>
              </div>
              <div class="form-group row"  ng-class="{ 'has-error' : adh.householdForm.number.$error.required && adh.householdForm.number.$dirty }">
                <label class="col-md-2 control-label" for="number">Номер</label>
                <div class="col-md-10">
                  <input type="number" class="form-control" name="number"	id="number" ng-model="adh.newHousehold.Number" required/>
                  <span ng-show="adh.householdForm.number.$error.required  && !adh.householdForm.number.$pristine" class="help-block">Моля, въведете номер на жилището!</span>
                </div>
              </div>


              <!-- adults count row -->

                <div class="form-group row" ng-class="{ 'has-error' : adh.householdForm.adults.$error.required && adh.householdForm.adults.$dirty }">
                  <label class="col-md-2 control-label" for="adults">Брой възрастни</label>
                  <div class="col-md-10">

                    <input type="number" min="0" max="10" class="form-control" ng-model="adh.newHousehold.AdultsCount" id="adults" name="adults" required />
                    <span ng-show="adh.householdForm.adults.$error.required  && !adh.householdForm.adults.$pristine" class="help-block">Моля, въведете брой на възрастни в жилището!</span>
                  </div>
                </div>

              <div class="form-group row" ng-class="{ 'has-error' : adh.householdForm.floor.$error.required && adh.householdForm.floor.$dirty }">
                <label class="col-md-2 control-label">Етаж</label>
                <div class="col-md-10">
                  <select ng-model="adh.newHousehold.Floor" class="form-control" name='floor' ng-options="n for n in [] | range:1:{{adh.floorsCount + 1}}" required></select>
                  <span ng-show="adh.householdForm.floor.$error.required  && !adh.householdForm.floor.$pristine" class="help-block">Моля, изберете етаж на жилището!</span>
                </div>
              </div>
    </div><!-- modal body -->
  <div class="modal-footer">
      <button class="btn btn-primary" ng-disabled="adh.householdForm.$invalid" type="submit" >Добави</button>
      <button class="btn btn-warning" type="button" ng-click="adh.cancel()">Отказ</button>
  </div>
</form>
