<div class="row">
  <div class="col-sm-12">
    <h4>Жилища</h4>
    <button ng-click="bhdetail.addHousehold()" class="btn btn-primary">Добави жилище</button>
    <!-- trNgGrid -->
    <table tr-ng-grid="" items="bhdetail.households" enable-filtering="false"  locale="bg" page-items="bhdetail.top" total-items="bhdetail.totalHouseholds" on-data-required="bhdetail.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
      <thead>
      <tr>
        <th field-name="Name" display-name="Име"  enable-filtering="true"></th>
        <th field-name="Number" display-name="Номер" enable-filtering="true"></th>
        <th field-name="Floor" display-name="Етаж" enable-filtering="true"></th>
        <th field-name="Residents" display-name="Брой живущи" enable-filtering="true"></th>
        <th field-name="Phone" display-name="Phone" enable-filtering="true"></th>
        <th field-name="Notes" display-name="Notes" enable-filtering="true"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td field-name="Name"><a class="btn btn-default btn-block"  ui-sref="householdDetail({householdId: gridItem.Id})">{{gridDisplayItem.Name}}</a></td>
        <td field-name="Number">{{gridDisplayItem.Number}}</td>
        <td field-name="Floor">{{gridDisplayItem.Floor}}</td>
        <td field-name="Residents">{{gridDisplayItem.Residents}}</td>
        <td field-name="Phone">{{gridDisplayItem.Phone}}</td>
        <td field-name="Notes">{{gridDisplayItem.Notes}}</td>
      </tr>
      </tbody>

    </table>
  </div><!-- column -->
</div> <!-- row -->
