
<div class="modal-header">
    <h3 class="modal-title">Добави сграда на адрес: {{ building.address}}</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="address">Adress</label>
      <input type="text" ng-model="adb.building.Address" class="form-control" id="address" placeholder="Адрес">
      <p class="help-block">Адрес на сградата.</p>
    </div>


  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="adb.add()">Добави</button>
    <button class="btn btn-warning" type="button" ng-click="adb.cancel()">Отказ</button>
</div>
