<div class="modal-header">
    <h3 class="modal-title">Добави жилище</h3>
</div>
<div class="modal-body">

    <form  class="form-horizontal" role="form" >

            <div class="form-group">
              <label class="col-md-2 control-label">Брой живущи:</label>
              <div class="col-md-10">
                <input type="text" class="form-control" name="LivingPeople"	ng-model="adh.newHousehold.LivingPeople" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Живущи, използващи асансьор:</label>
              <div class="col-md-10">
                <input type="text" class="form-control" name="ElevatorPeople" ng-model="adh.newHousehold.ElevatorPeople" />
               </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">Коментар</label>
              <div class="col-md-10">
                <input type="text" class="form-control" name="Comment" ng-model="adh.newHousehold.Comment" />
              </div>
            </div>
      </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="adh.add()">Add</button>
    <button class="btn btn-warning" type="button" ng-click="adh.cancel()">Cancel</button>
</div>
