<acme-navbar></acme-navbar>
<div class="container-fluid" >
  <acme-sidebar></acme-sidebar>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


    <!-- <div  ng-class="{'alert alert-danger': status.data.success == '0', 'alert alert-success': status.data.success == '1'}" role="alert" ng-show="status">{{status.data.message}}</div> -->
   <div ng-init="bd.getBuildings()">
    <div class="row " ng-repeat="rows in bd.buildings">

          <div class="col-xs-2" ng-repeat="building in rows track by $index" >

              <a ui-sref="buildingDetail({ buildingId: {{building.BuildingId}}  })" class="grid-link">

                <h3>{{building.Address}}</h4>

              </a>
          </div>

    </div>
  </div>
 </div>
</div>
