<acme-navbar></acme-navbar>
<div class="container-fluid" >
  <acme-sidebar></acme-sidebar>
  <div class="col-sm-12 main">


     <div class="row">
       <div class="col-sm-6 col-md-4">
         <button ng-click="bdetail.edit()"   class="btn btn-primary">Промени</button>
         <button ng-click="bdetail.delete()" class="btn btn-danger">Изтрий</button>

        <div ng-show="bdetail.editMode">
          <div class="panel panel-default">
            <!--TODO add validation to the form -->
            <form name="bdetail.editForm" ng-submit="bdetail.update()" novalidate>
              <div class="panel-body">
                      <div class="form-group">
                        <label for="address">Адрес</label>
                        <input type="text"  ng-model="bdetail.building.Address" class="form-control" id="address" placeholder="Address">
                      </div>
                     <div class="form-group">
                       <label for="address">Град/Населено място</label>
                       <input type="text"  ng-model="bdetail.building.Location" class="form-control" id="location" placeholder="Location">
                     </div>
                     <div class="form-group">
                       <label for="floors">Брой етажи</label>
                       <input type="number"  ng-model="bdetail.building.FloorsCount" class="form-control" id="floors" placeholder="Floors">
                     </div>
              </div>
              <div class="panel-footer">
                <button type="submit" class="btn btn-success"> Запази промените </button>
                <button type="button" class="btn btn-warning" ng-click="bdetail.editMode = false;">Отказ</button>
              </div>
            </form>

          </div>
        </div>
            <!-- EDITING MODE -->
         <div ng-hide="bdetail.editMode">
               <div class="panel panel-default">
                 <div class="panel-body">
                   <h3>{{bdetail.building.Address}}</h3>
                   <ul>
                     <li> Населено място: {{bdetail.building.Location}} </li>
                     <li> Брой етажи: {{bdetail.building.FloorsCount}}</li>
                   </ul>
                 </div>
               </div>
             </div>
             <!-- Editing MODE -->
       </div><!-- buidling info end --><!-- /row -->
       <div class="col-md-4 col-sm-6">
         <button class="btn btn-primary" ng-click="bdetail.gotoCashbook()">Касова книга </button>
       </div>

     </div>
    <!-- add a household -->
    <button ng-click="bdetail.addHousehold()" class="btn btn-success">Добави жилище</button>
    <!-- trngGrid -->
      <table tr-ng-grid="" items="bdetail.households" enable-filtering="false"  locale="bg" page-items="bdetail.top" total-items="bdetail.totalHouseholds" on-data-required="bdetail.onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
        <thead>
        <tr>
          <th field-name="Name" display-name="Име"  enable-filtering="true"></th>
          <th field-name="Number" display-name="Номер" enable-filtering="true"></th>
          <th field-name="Floor" display-name="Етаж" enable-filtering="true"></th>
          <th field-name="ChildrenCount" display-name="Брой деца" enable-filtering="true"></th>
          <th field-name="AdultsCount" display-name="Брой възрастни" enable-filtering="true"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td field-name="Name">{{gridDisplayItem.Name}}</td>
          <td field-name="Number">{{gridDisplayItem.Number}}</td>
          <td field-name="Floor">{{gridDisplayItem.Floor}}</td>
          <td field-name="ChildrenCount">{{gridDisplayItem.ChildrenCount}}</td>
          <td field-name="AdultsCount">{{gridDisplayItem.AdultsCount}}</td>
          <td field-name="Id"><button class="btn btn-primary" ng-click="bdetail.gotoHousehold(gridDisplayItem.Id )">Отвори</button></td>
        </tr>
        </tbody>

      </table>




  </div>
</div>
